nav .brand-logo {
  position: relative !important;
}

main>img.logo{
  width: 100px;
  height: 100px;
}
@media only screen and (max-width: 992px){
  img.logo {
    width: 60px;
    height: 60px;
  }
}

p.result {
    border: 1px solid #ccc;
    font-size: 1.3em;
    font-weight: 500;
    padding: 10px;
}
p.header{
    font-size: 1.3em;
    font-weight: 500;
    color: #ffffff;
}
@media only screen and (max-width: 992px){
  p.header {
    font-size: 1em;
    font-weight: 300;
    color: #ffffff;
  }
} 
.btn-large{
  width: 100% !important;
}
main{
   padding: 15px;
}
.tabs .tab a:hover, .tabs .tab a.active{
  color: #ccc !important;
}
